<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Pokemon Battle!{% endblock %}</title>
    <link rel="stylesheet" href="css/vendor/bootstrap.min.css">

    <!-- Fixed navbar -->
    <div class="navbar navbar-default" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">IIM Blog</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="index.php">Home</a></li>
                    {% if session.connected %}
                    <li><a href="battle.php">Battle!</a></li>
                    <li><a href="pokemon_profile.php">My Pokemon</a></li>
                    <li><a href="contact.php">Contact</a></li>
                    {% endif %}

                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {% if session.connected %}
                        <li><a href="#">Welcome {{ session.username }}!</a></li>
                        <li><a href="logout.php">Logout</a></li>
                    {% else %}
                        <li><a href="login.php">Login</a></li>
                        <li><a href="register.php"> or register</a></li>
                    {% endif %}
                </ul>
            </div><!--/.nav-collapse -->
    </div>
        </div>
</head>
<body>
    <div class="container">
        <div class="row">
            {% block content %} {% endblock %}
        </div>
    </div>
</body>
</html>